@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: #ffffff;
  --yellow-color: #ffcd00;
  --blue-color: #003087;
  --red-color: #c8102e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  font-family: 'Google Sans', sans-serif;
}

#app {
  @apply min-h-screen;
}

img {
  filter: none;
  opacity: 1;
}